main {
    height: calc(100vh - 72px);
}

.ms_class_avatar {
    width: 40px;
}

.ms_stats {
    width: 100%;
}

.ms_sidebar {
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
}

.ms_badge {
    background-color: #165BBA;
    color: white;
}

.ms_font_size_2 {
    font-size: 2rem;
}